html, body {
    width: 300px;
    font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #eee;
}

.wrapper {
    width: 100%;
}

.settings,
.commands {
    margin: 10px;
}

input {
    border: solid 1px #999;
}

input[type=number] {
    width: 50px;
    text-align: center;
}

.control {
    margin: 5px auto;
}

.control label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.commands > * {
    display: inline-block;
    vertical-align: middle;
}

.commands input {
    width: 195px;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
}

.commands button {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(#999, #111);
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.commands button img {
    width: auto;
    height: 100%;
}

.commands button:hover {
    background: linear-gradient(#111, #999);
}